body {
  margin: 0;
  font-family: Arial, sans-serif;
}







/* CSS PARA EL Header.jsx */
/* Tema claro */
.app.light {
  background-color: #ffffff;
  color: #000000;
}

/* Tema oscuro */
.app.dark {
  background-color: #121212;
  color: #ffffff;
}
